---
import Layout from '@/layouts/Layout.astro';
import MakeupCard from '@/components/MakeupCard.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import { SOCIAL_MAKEUP_SERVICES } from '@/data/services';
---

<Layout title="Servicios">
	<main>
    <SectionTitle title="Maquillaje Social" />

		<section class="my-16 bg-gray-200 py-12">
      <div class="max-w-6xl mx-auto">
        <h2 class="mx-auto text-center text-4xl mb-12">Elige tu maquillaje</h2>
        <div class="grid grid-cols-3 gap-8">
          {SOCIAL_MAKEUP_SERVICES.map((service) => (
            <MakeupCard
              name={service.name}
              description={service.description}
              price={service.price}
              duration={service.duration}
              message={service.message}
            />
          ))}
        </div>
      </div>
    </section>

	</main>
</Layout>
